doctype html
html
    head
        title= title

        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet' href='/css/main.css')
    body
        div(id='card' class='card middle')
            div(class='front')
                img(src='/img/cover.jpg' alt='Photo')
            div(class='back')
                div(class='back-content middle')
                    div(class='portfolio')
                        a(href='http://www.jaredible.net')
                            h2 Jared Diehl
                            span Software Engineer
                    div(class='sm')
                        a(href='https://www.linkedin.com/in/jared-michael-diehl/')
                            i(class='fab fa-linkedin-in')
                        a(href='https://github.com/jaredible')
                            i(class='fab fa-github')
                        a(href='https://www.facebook.com/Jaredible-569384850178383')
                            i(class='fab fa-facebook-f')
                        a(href='https://twitter.com/jaredmdiehl')
                            i(class='fab fa-twitter')
                        a(href='https://www.youtube.com/channel/UCAUiywLH61_vV33R9n1hLvQ?view_as=subscriber')
                            i(class='fab fa-youtube')
                        a(href='https://www.instagram.com/jaredmdiehl/')
                            i(class='fab fa-instagram')

        script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
        script(src='/js/main.js')