* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #333;
    overflow: hidden;
}

.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
}

.front img {
    height: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: #F1F1F1;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #2C3E50;
    text-align: center;
    width: 100%;
}

.portfolio {
    margin: 20px 0;
}

.portfolio a {
    display: inline-block;
    color: #2C3E50;
    text-decoration: none;
    transition: 0.4s;
}

.portfolio a:hover {
    transform: translate(0, -5px);
    transform: scale(1.1);
    text-shadow: 0 6px 3px rgba(0, 0, 0, 0.45);
}

.portfolio a:visited {
    color: #2C3E50;
}

.sm {
    margin: 20px 0;
}

.sm a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 2px 2px;
    justify-content: center;
    align-items: center;
    color: #2C3E50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}

.sm a:hover {
    background: #2C3E50;
    color: white;
}